/.ipynb_checkpoints
/assignments/.ipynb_checkpoints
/python_basics/.ipynb_checkpoints
/modules/.ipynb_checkpoints
/modules/numpy/.ipynb_checkpoints
/project_structure/project_1/.ipynb_checkpoints
/project_structure/project_1/venv
/project_structure/project_1/my_first_project.egg-info